################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConnectedAnimationApp/obj
/ConnectedAnimationApp/bin/x86/Debug
/.vs/ConnectedAnimationApp/v15/Server/sqlite3
